body{
	font-family: Helvetica Neue;
	background-color: #d7d8da; 
	margin: 0;	

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none; 
}

.container-fluid{
	background-color: #d7d8da;
	background-attachment: fixed;
	width: 100%;
	height: 150px;
	padding: 0;
	margin: 0;
}

/*-----------------------------------------------------------------------*/

.logo{
	position: absolute;
	top: 0%;
	left: 7%;
	width: 200px;
	max-width: 200px;
	height: 150px;
	max-height: 150px;
}

.navigation{
	position: absolute;
	padding-top: 3%;
	margin-left: 27%;
}

.navigation ul li{
	display: inline;
	margin-right: 75px;
}

.navigation ul a{
	text-decoration: none;
	color: black;
	font-size: 18px;
}

.language{
	position: absolute;
	top: 7%;
	right: 10%;
}

.language ul li{
	display: inline;
	color: black;
}

.language ul a{
	text-decoration: none;
	color: black;
	font-size: 18px;
}

/*-----------------------------------------------------------------------*/

.main-container{
	max-width: 100%;
	height: 900px;
}

/*-----------------------------------------------------------------------*/

.circle_o{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: absolute;
	top: 35%;
	left: 15%;
	width: 25%;
	height: 55%;
	border-radius: 100%;
	overflow: hidden;
	background-color: orange;
}

.teacher_1{
	margin-left: 58.5%;
	width: 60%;
	height: 95%;
}

.symbol_1{
	position: absolute;
	top: 22%;
	left: 34%;
	font-size: 200px;
	color: orange;
}

.symbol_2{
	margin-bottom: -5%;
	margin-right: 32%;
	font-size: 200px;
	color: #d7d8da;
}

.teachers_name{
	position: absolute;
	top: 35%;
	left: 55%;
	font-size: 36px;
	text-decoration: none;
	color: black;
	opacity: 0.7;
}

.teachers_job{
	position: absolute;
	top: 50%;
	left: 55%;
	font-size: 24px;
	color: black;
	opacity: 0.7;
	max-width: 500px;
}

.teachers_info{
	position: absolute;
	top: 60%;
	left: 55%;
	font-size: 24px;
	color: black;
	opacity: 0.7;
	max-width: 500px;
}

.web_teacher ul{
	position: absolute;
	top: 115%;
	left: 55%;
	font-size: 24px;
	color: black;
	opacity: 0.7;
}

/*-----------------------------------------------------------------------*/

.footer{
	position: relative;
	top: -100px;
	max-width: 100%;
	height: 100px;
	background-color: #433f3e;
}

.down_nav{ 
	margin-left: 25px;
}

.down_nav li{
	display: inline;
	margin-left: 50px;
	color: white;
	font-size: 18px;
}

.down_nav li a{
	margin-top: 40px;
	text-decoration: none;
	color: white;
}

/*-----------------------------------------------------------------------*/

.main_top{
    display: inline-block;
	text-decoration: none;
	color: black;
    line-height: 1;
    text-decoration:none;
    cursor: pointer;
}

.main_top:after {
    background-color: black;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.main_top:hover:after,	
.main_top:focus:after {
    width: 100%;
}

/*-----------------------------------------------------------------------*/

.main_bottom{
    display: inline-block;
	text-decoration: none;
	color: white;
    line-height: 1;
    text-decoration:none;
    cursor: pointer;
}

.main_bottom:after {
    background-color: white;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.main_bottom:hover:after,	
.main_bottom:focus:after {
    width: 100%;
}

/*-----------------------------------------------------------------------*/

.main_center{
    display: inline-block;
	text-decoration: none;
	color: black;
    line-height: 1;
    text-decoration:none;
    cursor: pointer;
}

.main_center:after {
    background-color: black;
    opacity: 0.7;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.main_center:hover:after,	
.main_center:focus:after {
    width: 100%;
}

/*-----------------------------------------------------------------------*/

.instagram{
	position: absolute;
	bottom: 35px;
	right: 350px;
	width: 32px;
	max-width: 64px;
	height: 32px;
}

.instagram:hover{
	-webkit-transform: scale(1.2);
  	-ms-transform: scale(1.2);
  	transform: scale(1.2);
}

.facebook{
	position: absolute;
	bottom: 35px;
	right: 250px;
	width: 32px;
	max-width: 64px;
	height: 32px;
}

.facebook:hover{
	-webkit-transform: scale(1.2);
  	-ms-transform: scale(1.2);
  	transform: scale(1.2);
}

.twitter{
	position: absolute;
	bottom: 35px;
	right: 150px;
	width: 32px;
	max-width: 64px;
	height: 32px;
}

.twitter:hover{
	-webkit-transform: scale(1.2);
  	-ms-transform: scale(1.2);
  	transform: scale(1.2);
}

/*-----------------------------------------------------------------------*/

.map{
	position: absolute;
	top: 100px;
	left: 0;
}

::-webkit-scrollbar{
	width: 0;
}

#progressbar{
	position: fixed;
	top: 0;
	right: 0;
	width: 15px;
	height: 100%;
	border-radius: 10px;
	background: linear-gradient(to top, #FC3309, #e07831);
}

/*-----------------------------------------------------------------------*/

@media only screen and (min-width : 320px) and (max-width : 480px){

	body{
		font-family: Helvetica Neue;
		background-color: #d7d8da; 
		margin: 0;	
		min-width: 320px;
		width: 100%;
		max-width: 480px;

		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none; 
	}

	.container-fluid{
		background-color: #d7d8da;
		background-attachment: fixed;
		min-width: 320px;
		width: 100%;
		max-width: 480px;
		height: 350px;
		padding: 0;
		margin: 0;
	}

	.logo{
		left: 0%;
		top: 2.5%;
		width: 75px !important;
		max-width: 200px;
		height: 50px;
		max-height: 150px;
	}	

	.navigation{
		position: absolute;
		top: 0%;
		margin-left: 10%;
	}

	.navigation ul li{
		color: black;
		display: inline-table;
		margin-right: 10px;
	}

	.navigation ul a{
		text-decoration: none;
		color: black;
		font-size: 12px;
	}

	.language{
		position: absolute;
		top: 2%;
		right: 5% !important;
	}

	.language ul li{
		display: inline;
		color: black;
	}

	.language ul a{
		text-decoration: none;
		color: black;
		font-size: 12px;
	}

	/*-----------------------------------------------------------------------*/

	.main-container{
		max-width: 100%;
		height: 625px;
	}

	/*-----------------------------------------------------------------------*/

	.circle_o{
		display: flex;
		justify-content: center;
		align-items: flex-end;
		position: absolute;
		top: 25%;
		left: 15%;
		width: 40%;
		height: 25%;
		border-radius: 100%;
		overflow: hidden;
		background-color: orange;
	}

	.teacher_1{
		margin-left: 100%;
		width: 60%;
		height: 95%;
	}

	.symbol_1{
		position: absolute;
		top: 12.5%;
		left: 44%;
		font-size: 100px;
		color: orange;
	}

	.symbol_2{
		margin-bottom: -15%;
		margin-right: 70%;
		font-size: 100px;
		color: #d7d8da;
	}

	.teachers_name{
		position: absolute;
		top: 50%;
		left: 5%;
		font-size: 36px;
		text-decoration: none;
		color: black;
		opacity: 0.7;
	}

	.teachers_job{
		position: absolute;
		top: 65%;
		left: 5%;
		font-size: 24px;
		color: black;
		opacity: 0.7;
		max-width: 500px;
	}

	.teachers_info{
		position: absolute;
		top: 75%;
		left: 5%;
		font-size: 18px;
		color: black;
		opacity: 0.7;
		max-width: 290px;
	}

	.web_teacher ul{
		position: absolute;
		top: 140%;
		left: 5%;
		font-size: 18px;
		color: black;
		opacity: 0.7;
	}

	/*-----------------------------------------------------------------------*/

	.footer{
		position: relative;
		top: 85%;
		min-width: 100%;
		width: 100%;
		max-width: 100%;
		height: 50px;
		background-color: #433f3e;
	}

	.down_nav{ 
		margin-left: 0%;
	}

	.down_nav li{
		display: inline;
		margin-left: 5px;
		color: white;
		font-size: 10px;
	}

	.down_nav li a{
		margin-top: 0px;
		text-decoration: none;
		color: white;
	}

	.main_top{
	    display: inline-block;
		text-decoration: none;
	    color: black;
	    line-height: 1;
	    text-decoration:none;
	    cursor: pointer;
	}

	.main_top:after {
	    background-color: black;
	    display: block;
	    content: "";
	    height: 2px;
	    width: 0%;
	    -webkit-transition: width .3s ease-in-out;
	    -moz--transition: width .3s ease-in-out;
	    transition: width .3s ease-in-out;
	}

	.main_top:hover:after,	
	.main_top:focus:after {
	    width: 100%;
	}

	.instagram{
		position: absolute;
		bottom: 0px;
		left: 25%;
		width: 18px !important;
		max-width: 64px;
	}

	.instagram:hover{
		-webkit-transform: scale(1.2);
	  	-ms-transform: scale(1.2);
	  	transform: scale(1.2);
	}

	.facebook{
		position: absolute;
		bottom: 0px;
		left: 45%;
		width: 18px !important;
		max-width: 64px;
	}

	.facebook:hover{
		-webkit-transform: scale(1.2);
	  	-ms-transform: scale(1.2);
	  	transform: scale(1.2);
	}

	.twitter{
		position: absolute;
		bottom: 0px;
		left: 65%;
		width: 18px !important;
		max-width: 64px;
	}

	.twitter:hover{
		-webkit-transform: scale(1.2);
	  	-ms-transform: scale(1.2);
	  	transform: scale(1.2);
	}

	.map{
		position: absolute;
		top: 50px;
		left: 0;
	}

	#progressbar{
		position: fixed;
		top: 0;
		right: 0;
		width: 10px;
		height: 100%;
		border-radius: 10px;
		background: linear-gradient(to top, #FC3309, #e07831);
	}
}

/*-----------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {

	body{
		font-family: Helvetica Neue;
		background-color: #d7d8da; 
		margin: 0;	
		min-width: 768px;
		width: 100%;
		max-width: 1024px;

		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none; 
	}

	.container-fluid{
		background-color: #d7d8da;
		background-attachment: fixed;
		min-width: 768px;
		width: 100%;
		max-width: 1024px;
		height: 350px;
		padding: 0;
		margin: 0;
	}

	.logo{
		left: 0%;
		top: 0%;
		width: 150px !important;
		max-width: 200px;
		height: 125px;
		max-height: 150px;
	}	

	.navigation{
		position: absolute;
		top: 2%;
		margin-left: 20%;
	}

	.navigation ul li{
		color: black;
		display: inline-table;
		margin-right: 10px;
	}

	.navigation ul a{
		text-decoration: none;
		color: black;
		font-size: 18px;
	}

	.language{
		position: absolute;
		top: 6%;
		right: 10% !important;
	}

	.language ul li{
		display: inline;
		color: black;
	}

	.language ul a{
		text-decoration: none;
		color: black;
		font-size: 18px;
	}

	/*-----------------------------------------------------------------------*/

	.main-container{
		max-width: 100%;
		height: 0px !important;
	}

	/*-----------------------------------------------------------------------*/

	.circle_o{
		display: flex;
		justify-content: center;
		align-items: flex-end;
		position: absolute;
		top: 30%;
		left: 15%;
		width: 35%;
		height: 50%;
		border-radius: 100%;
		overflow: hidden;
		background-color: orange;
	}

	.teacher_1{
		margin-left: 75%;
		width: 60%;
		height: 95%;
	}

	.symbol_1{
		position: absolute;
		top: 21%;
		left: 40%;
		font-size: 150px;
		color: orange;
	}

	.symbol_2{
		margin-bottom: -5%;
		margin-right: 60%;
		font-size: 150px;
		color: #d7d8da;
	}

	.teachers_name{
		position: absolute;
		top: 85%;
		left: 10%;
		font-size: 36px;
		text-decoration: none;
		color: black;
		opacity: 0.7;
	}

	.teachers_job{
		position: absolute;
		top: 100%;
		left: 10%;
		font-size: 24px;
		color: black;
		opacity: 0.7;
		max-width: 500px;
	}

	.teachers_info{
		position: absolute;
		top: 110%;
		left: 10%;
		font-size: 24px;
		color: black;
		opacity: 0.7;
		max-width: 500px;
	}

	.web_teacher ul{
		position: absolute;
		top: 175%;
		left: 10%;
		font-size: 24px;
		color: black;
		opacity: 0.7;
	}

	.footer{
		position: absolute;
		top: 225%;
		max-width: 100%;
		width: 100%;
		height: 100px;
		background-color: #433f3e;
	}

	.down_nav{ 
		margin-left: 0%;
	}

	.down_nav li{
		display: inline;
		margin-left: 50px;
		color: white;
		font-size: 18px;
	}

	.down_nav li a{
		margin-top: 0%;
		text-decoration: none;
		color: white;
	}

	.main_top{
	    display: inline-block;
		text-decoration: none;
		color: black;
	    line-height: 1;
	    text-decoration:none;
	    cursor: pointer;
	}

	.main_top:after {
	    background-color: black;
	    display: block;
	    content: "";
	    height: 2px;
	    width: 0%;
	    -webkit-transition: width .3s ease-in-out;
	    -moz--transition: width .3s ease-in-out;
	    transition: width .3s ease-in-out;
	}

	.main_top:hover:after,	
	.main_top:focus:after {
	    width: 100%;
	}

	.instagram{
		position: absolute;
		bottom: 15%;
		right: 70%;
		width: 32px;
		max-width: 64px;
		height: 32px;
	}

	.instagram:hover{
		-webkit-transform: scale(1.2);
	  	-ms-transform: scale(1.2);
	  	transform: scale(1.2);
	}

	.facebook{
		position: absolute;
		bottom: 15%;
		right: 50%;
		width: 32px;
		max-width: 64px;
		height: 32px;
	}

	.facebook:hover{
		-webkit-transform: scale(1.2);
	  	-ms-transform: scale(1.2);
	  	transform: scale(1.2);
	}

	.twitter{
		position: absolute;
		bottom: 15%;
		right: 30%;
		width: 32px;
		max-width: 64px;
		height: 32px;
	}

	.twitter:hover{
		-webkit-transform: scale(1.2);
	  	-ms-transform: scale(1.2);
	  	transform: scale(1.2);
	}

	.map{
		position: absolute;
		top: 100px;
		left: 0;
	}
}